---
layout: default
title: Jose Diaz-Gonzalez
full_page: true
disable_categories: true
---
<!-- <a href="http://cakefest.org" target="_blank">
  <img src="/images/banners/cakefest_2014_promo_banner.png" alt="CakeFest 2014" title="CakeFest 2014" style="width: 100%; max-width: 800px;">
</a> -->
<div class="archives">
{% for post in site.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% unless year == this_year %}
        {% assign year = this_year %}
        <h2>{{ year }}</h2>
    {% endunless %}
    {% include article.html %}
{% endfor %}
</div>
