{% strip %}<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}

  <body class="home {{ page.body }} {{ page.page_id }}">

    <div class="container">

      <header class="site-header">
        <h1>
            <a href="/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
        </h1>
        {% if site.description %}<h5><a href="/about/" title="About me">{{ site.description }}</a></h5>{% endif %}
      </header>

        {% if page.full_page %}
          {{ content }}
          {% include sidebar.html %}
        {% else %}
          <div class="row">
            <div class="column column-80">
              {{ content }}
            </div>
            <div class="column">
              {% include sidebar.html %}
            </div>
          </div>
        {% endif %}
      {% include javascript.html %}
    </div>
  </body>
</html>{% endstrip %}
